# output dir
output
instant_test_output
inference_test_output


*.png
!/app/samples/*.png
*.json
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg
!/app/samples/*.jpg
*.tif

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt
*pt
model.txt
!model/model.pt

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/snippet

# dataset
dataset

# exp outputs
**/runs
**/outputs

# streamlit config
.streamlit*

# zip
*.zip
